# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# grabbing the csv from WeatherPy and making it into a DF
weather_data = "../output_data/cities.csv"
weather_data_df = pd.read_csv(weather_data)
weather_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,mahebourg,-20.4081,57.7000,78.80,78,75,6.91,MU
1,1,castro,-24.7911,-50.0119,60.75,95,94,4.14,BR
2,2,prieska,-29.6641,22.7474,73.40,65,91,2.26,ZA
3,3,tianpeng,30.9866,103.9393,54.00,1,80,1.86,CN
4,4,beterou,9.1992,2.2586,78.31,55,30,0.29,BJ
...,...,...,...,...,...,...,...,...,...
576,576,rantepao,-2.9701,119.8978,73.04,77,96,0.92,ID
577,577,reconquista,-29.1500,-59.6500,73.56,54,5,7.83,AR
578,578,tsabong,-26.0217,22.4010,78.21,57,85,4.59,BW
579,579,male,4.1748,73.5089,80.60,74,20,12.66,MV
580,580,ambon,-3.6954,128.1814,84.20,79,20,2.30,ID

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# feeding the api key in
gmaps.configure(api_key=g_key)

In [4]:
# configures and shows the google map, adds heat map layer with humidity as weight
destinations = weather_data_df[['Lat', 'Lng']]
humidity = weather_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(destinations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
# Creates a new DF where weather only meets the following
my_weather = pd.DataFrame(weather_data_df.loc[(weather_data_df["Max Temp"] >= 70) &
                                              (weather_data_df["Max Temp"] <= 80) &
                                              (weather_data_df["Wind Speed"] < 10) &
                                              (weather_data_df["Cloudiness"] <= 0)])
my_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
89,89,port elizabeth,-33.9180,25.5701,71.60,94,0,4.61,ZA
137,137,santa cruz del sur,20.7147,-77.9956,75.00,79,0,3.65,CU
150,150,arlit,18.7369,7.3853,72.54,17,0,9.40,NE
185,185,kara,9.5511,1.1861,76.35,19,0,3.02,TG
196,196,aden,12.7794,45.0367,74.91,70,0,9.86,YE
302,302,tibiri,13.5627,7.0485,70.77,19,0,9.91,NE
328,328,manzanillo,20.3433,-77.1167,76.30,70,0,1.45,CU
372,372,tomatlan,19.9333,-105.2500,73.74,59,0,9.64,MX
379,379,mapulo,13.7317,121.1842,78.01,85,0,4.00,PH
405,405,mecca,21.4267,39.8261,73.98,63,0,2.93,SA
498,498,zinder,13.8072,8.9881,70.00,19,0,9.33,NE
512,512,malanville,11.8685,3.3899,76.33,15,0,7.74,BJ

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [22]:
# Created hotel DF, adds empty hotel column
hotel_df = my_weather
hotel_df["Name of Hotel"] = ''
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Name of Hotel
89,89,port elizabeth,-33.9180,25.5701,71.60,94,0,4.61,ZA,
137,137,santa cruz del sur,20.7147,-77.9956,75.00,79,0,3.65,CU,
150,150,arlit,18.7369,7.3853,72.54,17,0,9.40,NE,
185,185,kara,9.5511,1.1861,76.35,19,0,3.02,TG,
196,196,aden,12.7794,45.0367,74.91,70,0,9.86,YE,
302,302,tibiri,13.5627,7.0485,70.77,19,0,9.91,NE,
328,328,manzanillo,20.3433,-77.1167,76.30,70,0,1.45,CU,
372,372,tomatlan,19.9333,-105.2500,73.74,59,0,9.64,MX,
379,379,mapulo,13.7317,121.1842,78.01,85,0,4.00,PH,
405,405,mecca,21.4267,39.8261,73.98,63,0,2.93,SA,
498,498,zinder,13.8072,8.9881,70.00,19,0,9.33,NE,
512,512,malanville,11.8685,3.3899,76.33,15,0,7.74,BJ,

In [23]:
# loop for filling in hotel data
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():

    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    params = {
    "location": (f"{lat},{lng}"),  
    "radius": 5000,
    "keyword": "hotel",
    "type": "lodging",
    "key": g_key
    }

    # Assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        print(f"Hotel in {city} found: {results[0]['name']}.")
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "No result"''
        print("No results. Skipping...")
        
    print("------------------------------------------")

Hotel in port elizabeth found: Island Way Villa.
------------------------------------------
No results. Skipping...
------------------------------------------
Hotel in arlit found: HÃ´tel Telwa Bungalow.
------------------------------------------
Hotel in kara found: Hotel Meka.
------------------------------------------
Hotel in aden found: Sheraton Gold Mohur Hotel.
------------------------------------------
No results. Skipping...
------------------------------------------
Hotel in manzanillo found: Hostal Reliance (Casa Julio & Mayra).
------------------------------------------
Hotel in tomatlan found: Hotel Hacienda Vieja.
------------------------------------------
No results. Skipping...
------------------------------------------
Hotel in mecca found: Pullman Zamzam Makkah.
------------------------------------------
Hotel in zinder found: HÃ´tel Royal.
------------------------------------------
Hotel in malanville found: Hotel Sota.
------------------------------------------

In [27]:
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Name of Hotel,Hotel Name
89,89,port elizabeth,-33.9180,25.5701,71.60,94,0,4.61,ZA,,Island Way Villa
137,137,santa cruz del sur,20.7147,-77.9956,75.00,79,0,3.65,CU,,No result
150,150,arlit,18.7369,7.3853,72.54,17,0,9.40,NE,,HÃ´tel Telwa Bungalow
185,185,kara,9.5511,1.1861,76.35,19,0,3.02,TG,,Hotel Meka
196,196,aden,12.7794,45.0367,74.91,70,0,9.86,YE,,Sheraton Gold Mohur Hotel
302,302,tibiri,13.5627,7.0485,70.77,19,0,9.91,NE,,No result
328,328,manzanillo,20.3433,-77.1167,76.30,70,0,1.45,CU,,Hostal Reliance (Casa Julio & Mayra)
372,372,tomatlan,19.9333,-105.2500,73.74,59,0,9.64,MX,,Hotel Hacienda Vieja
379,379,mapulo,13.7317,121.1842,78.01,85,0,4.00,PH,,No result
405,405,mecca,21.4267,39.8261,73.98,63,0,2.93,SA,,Pullman Zamzam Makkah
498,498,zinder,13.8072,8.9881,70.00,19,0,9.33,NE,,HÃ´tel Royal
512,512,malanville,11.8685,3.3899,76.33,15,0,7.74,BJ,,Hotel Sota

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
destinations = hotel_df[["Lat", "Lng"]]

In [29]:
markers = gmaps.marker_layer(destinations, info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))